=render :partial => 'messages/sidebar_nav'

#col2
  .box
    =render :partial => 'messages/message_thread'
    
    %ul.message_nav
      %li.sent= link_to :reply.l, new_user_message_path(@user, :reply_to => @message), :onclick => "$('reply').toggle(); $('message_body').activate().scrollTo();return false;"
 
      /%li.delete=link_to 'Delete', user_message_path(@user, @message), :method => 'delete'


      /%form.MainForm#dummy_reply
      /  %textarea{:onclick => "$('reply').toggle(); $('message_body').activate(); $('dummy_reply').hide(); $(this).blur(); return false;", :style => "height: 75px;", :style => "display:none;"}

      /#reply{:style => "display:none;"}
      /  =render :partial => 'form', :locals => {:message => @reply, :user => @user}
