.center
  %h4 Feature Caucus
%p

%p.feature_description
  Two or three times a year, we invite our users to review our feature list, and reorder it by voting up the items that interest them most.
%p.feature_description
  Spend your votes all on one killer feature, or spread them around.
%p.feature_description
  It's your opportunity to steer Infrno in the direction you'd like!
%p


