%br
.center
  =image_tag( premium_label(3))

.prices
  %p
  Lifetime: $199.99

  %p
  Upgrades and downgrades are currently a manual process.
  %p
  =mail_to "accounts@infrno.net",  "Please submit your request to accounts@infrno.net."
  %p

