
.full-width
  .box
    =image_tag('/assets/PremiumMemberships.png', :style => "width:790px;")

#col-float-middle-600

  .box
    .scream-louder
      %br
      Due to overwhelming demand, we've had to
      %br
      take the upgrade process offline for a bit.
      %br
      %br
      %br
      BRB!
      %br
      %br
      %br

