- @meta = { :description => configatron.meta_description, :keywords => configatron.meta_keywords, :robots => configatron.robots_meta_list_content }

:plain
  <div id="contentBody">
  <div class="box">
  <div class="scream-louder">
  GEN CON LIVE 2010
  </div>
  </div>
  
  
  
  <div class="box">
  <table>
  <tbody>
  <tr>
  <td>
  <object width="520" height="318" id="lsplayer" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"><param name="movie" value="http://cdn.livestream.com/grid/LSPlayer.swf?channel=neoncon&amp;color=0x000000&amp;autoPlay=true&amp;mute=false"><param name="allowScriptAccess" value="always"><param name="allowFullScreen" value="true"><embed name="lsplayer" wmode="transparent" src="http://cdn.livestream.com/grid/LSPlayer.swf?channel=neoncon&amp;color=0x000000&amp;autoPlay=true&amp;mute=false" width="520" height="318" allowscriptaccess="always" allowfullscreen="true" type="application/x-shockwave-flash"></object>
  </td>
  <td>
  <object width="264" height="318" id="lschat" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"><param name="movie" value="http://cdn.livestream.com/chat/LivestreamChat.swf?&amp;showTimestamp=true&amp;channel=neoncon"><param name="allowScriptAccess" value="always"><param name="allowFullScreen" value="true"><embed src="http://cdn.livestream.com/chat/LivestreamChat.swf?&amp;showTimestamp=true&amp;channel=neoncon" name="lschat" width="264" height="318" allowscriptaccess="always" allowfullscreen="true" type="application/x-shockwave-flash" bgcolor="#ffffff"></object>
  </td>
  </tr>
  <tr>
  <td>
  LiveU · George Fern · Pixel Corps $middot; infrno.net · DDD
  </td>
  </tr>
  </tbody>
  </table>
  </div>
  
  
            
  <div id="col-float-middle-600">
  <div class="box" style="text-align: center;">
  <a href="http://www.neoncon.com" class="gcl-link" alt="NeonCon"><img src="/images/gcl/logo_neoncon.png" width="125"></a> &nbsp;
  <a href="http://www.neoncon.com/creativeu" class="gcl-link" alt="CreativeU"><img src="/images/gcl/logo_creativeu.png" width="125"></a> &nbsp;
  <a href="http://ww.livestream.com" class="gcl-link" alt="LiveStream.com"><img src="/images/gcl/logo_livestream.png" width="125"></a> &nbsp;
  <a href="http://infrno.net" class="gcl-link" alt="INFRNO"><img src="/images/gcl/logo_infrno.png" width="125"></a>
  <br>
  <a href="http://www.gencon.com" class="gcl-link" alt="Gen Con"><img src="/images/gcl/logo_gencon.png" width="125"></a> &nbsp;
  <a href="http://www.pixelcorps.com" class="gcl-link" alt="Pixel Corps"><img src="/images/gcl/logo_pxc.png" width="125"></a> &nbsp;
  <a href="http://www.liveu.tv" class="gcl-link" alt="LiveU.tv"><img src="/images/gcl/logo_liveu.png" width="125"></a> &nbsp;
  <a href="http://www.fernexpo.com/" class="gcl-link" alt="George Fern"><img src="/images/gcl/logo_fern.png" width="125"></a>
  </div>
  </div>
  
  </div>
  

