#col1
  =render :partial => 'photos/nav_links'

#col2
  -box do 
    %h3= :albums.l
    %table{:border => 0, :width => '100%'}
      %tbody
        - @albums.each do |album|
          %tr
            %td= link_to album.title, user_album_path(current_user,album)
            %td
              - if album.photos[0] 
                =link_to image_tag( album.photos[0].photo.url(:thumb), :size => "50x50"), user_photo_path(current_user, album.photos[0])
              - if album.photos[1] 
                =link_to image_tag( album.photos[1].photo.url(:thumb), :size => "50x50"), user_photo_path(current_user, album.photos[1])
              - if album.photos[2] 
                =link_to image_tag( album.photos[2].photo.url(:thumb), :size => "50x50"), user_photo_path(current_user, album.photos[2])
              - if album.photos[3] 
                =link_to image_tag( album.photos[3].photo.url(:thumb), :size => "50x50"), user_photo_path(current_user, album.photos[3])
 
                
    =paginate @albums


  .box
    %h3= :not_assigned_photos.l
    .clear
      - @photos_no_albums.each do |photo|
        = link_to image_tag( photo.photo(:thumb), :width => "94px"), user_photo_path(@user, photo)
    =paginate @photos_no_albums



