-#
-#-if current_user.nil? || current_user.membership_level == 0
-#  .box.center
-#    -#%h3=link_to "Upgrade, and banish ads!", premium_membership_path
-#    =render :partial => "ads/#{random_google_adwords_ad}"
-#
-#    %h3=link_to "Banish ads", premium_membership_path

