%script{:type => "text/javascript"}
  window.scrollback = {"nick":"#{nick}","room":"infrno","form":"toast","minimize":true};
  (function(d,s,h,e){e=d.createElement(s);e.async=2;e.src=(location.protocol === "https:" ? "https:" : "http:") + "//scrollback.io/client.min.js";d.getElementsByTagName(s)[0].parentNode.appendChild(e);}(document,"script"));
