=stylesheet_link_tag 'application'
=javascript_include_tag 'community_engine'
=javascript_include_tag "application"


-if  (controller_name == 'games' && action_name == 'index')
  %script
    $(function() { $(document).tooltip(); });

  %style
    label { display: inline-block; width: 5em;}

  -#=stylesheet_link_tag "event_calendar"
  -#=stylesheet_link_tag "prototip"
  -#=javascript_include_tag "event_calendar"

-if  (controller_name == 'memberships')
  -#=stylesheet_link_tag "prototip"


- if forum_page?
  -#= javascript_include_tag 'lowpro', 'forum', :plugin => 'community_engine'
  -#= stylesheet_link_tag 'infrno_forum'
  - unless @feed_icons.blank?
    - @feed_icons.each do |feed|
      = auto_discovery_link_tag :rss, feed[:url], :title => "Subscribe to '#{feed[:title]}'"
      
-if DEPLOY_GOOGLE_ANALYTICS
  %script{:type => "text/javascript"}
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-19974708-1']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  
-if DEPLOY_QUANTCAST  
  /Quantcast
  %script{:type => "text/javascript"}
    _qoptions={
    qacct:"p-e1gHHNOLaiyLw"
    };
  %script{:type => "text/javascript", :src => "http://edge.quantserve.com/quant.js"}
  %noscript
    =image_tag("http://pixel.quantserve.com/pixel/p-e1gHHNOLaiyLw.gif", :style => "display: none;", :border => "0", :height => "1", :width => "1", :alt => "Quantcast")
  /END Quantcast  

