!!!
%html
  %head

    =stylesheet_link_tag 'application'
    =javascript_include_tag 'community_engine'
    =javascript_include_tag "application"

    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}

  %body
    .gametable-navbar
      =link_to image_tag("infrnogametablelogo.png", :class => "smlogo"), game_path(@game), :confirm => "You are leaving the game table. Are you sure?"

      %ul
        - @game.active_characters.each do |character|
          %li{:class => '', :id => "char_tab_#{character.id}"}
            %a{:href => character_url(character), :target => '_blank' }
              %span
                = truncate_words(h(character.name), 2, "...")

    %div{:id=>"gametable", :class=>"x-show-display"}
      %div{:id=>"gametable_full"}
        %iframe{:src => "/games/#{@game.id}/ot_gametable", :width=>"100%", :height=>"100%", :scrolling=>"no", :frameborder=>"0"}





