%div{:class=>"c_movement"}
  %div{:class=>"left-container-10"}   
    %p{:class=>"text"}
      = remove_link_unless_new_record(f)
  %div{:class=>"left-container-45"}   
    %p{:class=>"text"}
      = f.text_field :name, :size => configatron.TWO_COL_INPUT_WIDTH
  %div{:class=>"left-container-45"}   
    %p{:class=>"text"}
      = f.text_field :rate, :size => configatron.TWO_COL_INPUT_WIDTH
  %div{:class=>"space-line"}  

