#col1

  -box :class => "alt" do
    %h3 Search by tag
    %form.MainForm{"action"=>"/search/tags/", "method"=>"get"}
      = text_field_tag 'id', params[:id], :autocomplete => "off"
      -##id_auto_complete.auto_complete{"class"=>"auto_complete", "id"=>"id_auto_complete"}
      -#= auto_complete_field 'id', {:url => { :controller => "tags", :action => 'auto_complete_for_tag_name'}, :tokens => [','] }
      %p
        %input{"type"=>"submit", "value"=>:go.l}

  =render :partial => "shared/ad"

#col2
  -box :class => "yui-b" do
    %h3= :browse_content_by_tags.l
    - tag_cloud @tags, %w(nube1 nube2 nube3 nube4 nube5) do |name, css_class|
      =link_to h(name), tag_url(URI.escape(name.to_s, /[\/.?#]/)), :class => css_class
