- unless @popular_posts.empty?
  -box :id => "posts", :class => 'alt' do
    %h3=:popular_posts.l
    %ul
      - @popular_posts.each do |post|
        %li.view= link_to h(truncate(post.title, :length => 75)), user_post_path(@user, post)
