<h1>Listing player_registrations</h1>

<table>
  <tr>
  </tr>

<% @player_registrations.each do |player_registration| %>
  <tr>
    <td><%= link_to 'Show', player_registration %></td>
    <td><%= link_to 'Edit', edit_player_registration_path(player_registration) %></td>
    <td><%= link_to 'Destroy', player_registration, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New player_registration', new_player_registration_path %>