<h1>New player_registration</h1>

<%=form_for(@player_registration) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', player_registrations_path %>
