.box
  %h3  Achievement leaderboards
  %ul
    %li.view= link_to "Winners by level", achievement_leaderboard_top_by_level_path
    %li.view= link_to "Winners by count", achievement_leaderboard_top_by_count_path
    %li.view= link_to "Authors", achievement_leaderboard_top_authors_path

