#col1
  =render :partial => "col1"



#col2
  .box
    %h2= @achievement.name.html_safe

  .box
    %h3 This achievement has been frozen.
    Once an achievement has been granted and accepted, it may not be edited.

