#col1
  =render :partial => "shared/home_page_user_profile", :locals => { :tags => @popular_tags}

    
#col2
  .box
    %h3 Activity feed
    =render :partial => "activities/activity", :collection => @activities
    =paginate @activities
      

